/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

:root{
    --color1: #200E3A;
    --color2: #38419D;
    --color3: #3887BE;
    --color4: #52D3D8;
}

/* nav */
nav{
    position: absolute;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
nav h1 a{
    font-size: 35px;
    margin: 0px 5vw;
    color: var(--color1);
    text-decoration: none;
}
nav .btn {
    margin: 0px 5vw;
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 9;
}
nav .btn .menu-icon {
    width: 41px;
    height: 41px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 9;
    cursor: pointer;
}
nav .btn .menu-icon span {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    align-self: end;
    background-color: var(--color1);
    transition: transform .3s, background-color .3s, width .2s;
    z-index: 9;
}
nav .btn .menu-icon span:last-child {
    width: 50%;
}
nav .btn .menu-icon span.show:first-child {
    background-color: var(--color3);
    transform: rotate(45deg) translateY(10px);
    width: 60%;
    align-self: end;
} 
nav .btn .menu-icon span.show:last-child {
    background-color: var(--color3);
    transform: rotate(-45deg) translateY(-10px);
    width: 60%;
    align-self: end;
}
nav .btn .container{
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(10px , -10px);
    opacity: 0;
    background-color: white;
    transition: width .55s , height .5s , opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    z-index: 7;
}
nav .btn .container.show{
    width: 250px;
    height: 400px;
    opacity: 1;
}
nav .btn .container ul{
    width: 90%;
    color: var(--color2);
}
nav .btn .container ul li{
    padding: 10px 0px;
    font-size: 18px;
}
nav .btn .container ul li a{
    text-decoration: none;
    color: inherit;
}
nav .btn .container .contact li:first-child{
    color: var(--color1);
    opacity: .5;
}
nav .btn .container ul li img{
    width: 25px;
    display: inline;
    transform: translate(-7px , 7px);
    opacity: 0;
    transition: all .5s;
}
nav .btn .container ul li:hover img{
    transform: translate(4px , 7px);
    opacity: 1;
}
/* header */
header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    overflow: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header .container-text{
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
header .container-text h1{
    font-size: 55px;
    padding-bottom: 20px;
}
header .container-text h4{
    font-size: 20px;
}
header .container-text p{
    width: 40%;
}
header .container-pict{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container-pict .box-shadow{
    width: 170px;
    height: 170px;
    background-color: transparent;
    border: solid 4px white;
    transform: translate(20px , 20px);
}
header .container-pict .box-shadow .img{
    width: 170px;
    height: 170px;
    background: url('../../../../Pictures/Screenshots/76bdb467b8944d31807eba3cf5eae1cb~tplv-photomode-image.jpeg.jpg');
    background-size: cover;
    transform: translate(-20px , -20px);
}
/* article */
article{
    width: 100%;
    height: 100vh;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article#about .container{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
article#about .container .content{
    width: 49%;
}
article#about .container .content h2{
    font-size: 45px;
    margin-top: 15px;
}
article#about .container .content p{
    width: 90%;
    font-size: 17px;
    margin-top: 25px;
}
article#about .container .svg{
    width: 49%;
}
article#about .container .svg.one img{
    width: 60%;
    position: relative;
    transform: translate(7vw , -10vh);
}
article#about .container .svg.two img{
    width: 60%;
    position: relative;
    transform: translate(7vw , -10vh);
}
/* section */
section#experience{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
}
section#experience .content{
    width: 40%;
}
section#experience .content h2{
    font-size: 45px;
}
section#experience .content p{
    width: 90%;
    font-size: 17px;
    margin-top: 25px;
}
section#experience .svg{
    width: 40%;
}
section#experience .svg img{
    width: 90%;
}
section#experience .svg a{
    /* position: relative; */
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: white;
    color: black;
}
/* portfolio */
section#portfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#portfolio h1{
    margin-top: 40px;
    font-size: 45px;
}
section#portfolio ul{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
section#portfolio ul li{
    width: 30%;
    height: fit-content;
    border: .8px solid black;
    margin: 10px;
    transition: all .2s;
}
section#portfolio ul li:hover{
    transform: translateY(-4px)
}
section#portfolio ul li a{
    text-decoration: none;
    color: black;
}
section#portfolio ul li a .pict{
    width: 95%;
    height: 150px;
    margin: 10px auto;
    background-color: red;
}
section#portfolio ul li a .body-card{
    width: 90%;
    height: 60px;
    margin: 10px auto;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
}
section#portfolio ul li a .body-card h4{
    font-size: 20px;
    margin: 5px 5px;
}
section#portfolio ul li a .body-card p{
    font-size: 17px;
    margin: 5px 5px;
}
/* form */
section#form{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
}
#form h1{
    font-size: 40px;
    padding: 20px 0px;
}
#form p{
    font-size: 20px;
    padding-bottom: 40px;
}
#form .container-form{
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/* #form .container-form form{
    background-color: yellow;
} */
#form .container-form form{
    width: 50%;
}
#form .container-form form.text{
    width: 100%;
}
#form .container-form form .input-field {
  position: relative;
  width: 60%;
  height: 44px;
  line-height: 44px;
  margin: auto;
}
#form .container-form form.text .input-field {
  width: 80%;
}
#form .container-form form .input-field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  cursor: text;
  transition: all .5s;
}
#form .container-form form .input-field input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #101010;
  background-color: var(--color4);
}
#form .container-form form .input-field input:invalid {
  outline: 0;
}
#form .container-form form .input-field input:focus,
#form .container-form form .input-field input:valid {
  border-color: #00dd22;
}
#form .container-form form .input-field input:focus~label,
#form .container-form form .input-field input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
}
/* footer */
footer{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
  }
  footer .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  footer .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  footer .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  footer .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  footer .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
@keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
}
@keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
}
footer .air.air1 center{
    position: relative;
    top: 70px;
}


/* breakpoint */
@media only screen and (max-width: 480px){
    /* header */
    header .container-text{
        width: 100%;
        height: 49vh;
    }
    header .container-pict{
        width: 100%;
        height: 49vh;
    }
    /* about */
    article#about .container .content{
        width: 100%;
    }
    article#about .container .svg{
        display: none;
    }
}
@media only screen and (max-width: 768px){
     /* section */
     section#experience .content{
        width: 80%;
    }
    section#experience .svg{
        width: 100%;
    }
}
@media only screen and (max-width: 900px){

}
